doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Puzzled Picture
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
  body
    
    .container
      h1 Puzzled Picture  
      .sliced
        img(src='/images/jonistristan.jpg')      
      button#scramble Start the game!
    //- button#move Move a box
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/main.js')
