

h1{
  background-color: red;
  box-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  font-family: helvetica, arial, sans-serif;
  text-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  font-size: 3rem;
}

.container{
  text-align: center;
}

.sliced {
    width: 610px;
    height: 610px;
    position: relative;
    display: inline-block;
    border: 3px solid red;
    cursor: pointer;
    // float: left;
}

.tile {
    float: left;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}
.tile:hover {
    opacity: .65;
}

.empty{
  color: white;
}

//
// body {
//   font-family: "Tahoma", sans-serif;
// }
//
// #board {
//   background: #ccc;
//   position: relative;
// }
//
// .box {
//   background-repeat: no-repeat;
//   position: absolute;
// }
//
// .imgHolder {
//   display: none;
// }















// .sliced{
//     position: relative;
//     width: 610px;
//     height: 610px;
//
// }
// .tile{
//     float: left;
//     opacity: 1;
//     -webkit-transition: all .3s ease-in-out;
//     -moz-transition: all .3s ease-in-out;
//     -ms-transition: all .3s ease-in-out;
//     -o-transition: all .3s ease-in-out;
// }
// .tile-animated{
//     opacity: 0;
// }
// .css3-preload .sliced *{
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
//   transition: none !important;
// }

//
// div{
//   width: 200px;
//   height: 200px;
//   line-height: 200px
//   background: url('/images/jonistristan.jpg') no-repeat center center fixed;
//   // background-size: cover;
//   margin: 0px;
//   text-align: center;
// }


// h1{
//   color :red;
//   text-align: center;
// }
//
// .box{
//   text-align: center;
//   border: 1px solid gray;
//   margin: 0px;
//   // display: inline-block;
//   width: 200px;
//   height: 200px;
//   background: url('/images/jonistristan.jpg') no-repeat center center fixed;
//   background-size: cover;
//   border-radius: 3px;
//   float: left
//
// }
//
button{
  margin: 10%;
  background-color: gray;
  font-color: blue;
  display: inline-block;
  font-size: 4rem;
  text-align: center;
  width: 200px;
  height:40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 0 #CCC,1px 1px 0 #CCC, 2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
}
